body {
    background-image: url(http://www.travelingjobsnow.com/assets/img/slider1.jpg);
    background-color: #7DE1E1;
    background-repeat: no-repeat;
    overflow-x: hidden !important;
}

h1{
  margin-bottom: 15px;
}

/** Posuvník stránek výsledků**/
.PaginateButton {
    background-color: #0275d8;
    border-radius: 10px;
    height: 62px;
    width: 120px;
    margin: 5px;
}

.btn-margin-right-30 {
    margin-right: 30px;
}

.PaginateButton:hover {
    background-color: #50a1ee;
}

.PaginateRibbon {
    text-align: center;
}

/** Navbar **/
.strongNavItem {
    font-weight: bold;
}

@media (min-width: 992px) {
    .margin-right-30 {
        margin-right: 30px;
    }

    .margin-right-50 {
        margin-right: 50px;
    }
}

/** Vyhled�vac� li�ta**/
.SearchIcon {
    color: #fff;
}

.SearchButton {
    background-color: #0275d8;
    border-radius: 10px;
}

.SearchButton:hover {
    background-color: #50a1ee;
}

.SearchBorder {
    border-color: #0275d8;
}

.SearchHeight {
    height: 62px;
}

/** Vertik�ln� odsazen�**/
.v-o-15 {
    margin-top: 120px;
}

.v-o-25 {
    margin-top: 25px;
}

.v-p-25 {
    padding-top: 25px;
}

.v-o-5 {
    margin-top: 100px;
}
.v-o-4 {
  margin-top: 80px;
}

.m-r-30 {
    margin-right: 30px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-t-05 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.p-t-7 {
    padding-top: 7px;
}

.m-r-15 {
    margin-right: 15px;
}

.profil_img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.card-block:hover .profil_img, .card-block.hover .profil_img{
    margin-top: 0px;
    width: 60px;
    height: 60px;
    margin-bottom: 0px;
}

.editProfile_Avatar {
    width: 245px;
    height: auto;
}

.profil_o-30 {
    margin-left: 30px;
}

.profil_vypis {
    color: #2b2d2f;
}

.profil_vypis:hover {
    text-decoration: none;
}

.profil_vypis:hover div {
    background-color: #faf6f6;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fullsize {
    width: 100%;
}

.navbar-dark .navbar-toggler {
    color: white;
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-toggleable-md {
    margin-right: 10px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

.big_checkbox {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.validation-error {
    font-size: 10px;
    color: #a94442;
}
.iconContainer {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px 8px 8px 8px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #0275d8 ;
}
.main-info {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
.card {
  border: 1px solid #0275d8 ;
  margin-left: 10px;
  margin-right: 10px;
}
.sexIcon {
  margin-top: 7px;
}

@media (max-width: 768px) {
  .bigIcons {
    color: #0275d8;
    font-size: 40px;
  }
}
@media (min-width: 769px) {
  .bigIcons {
    color: #0275d8;
    font-size: 90px;
  }
}
.iconsColor {
  color: #0275d8;
}

.heading-container{
  padding: 10px 10px 10px 10px;
}

.label-success {
    background-color: #5cb85c;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}
.panel .btn-group {
    margin: 15px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}
.activems {
    background: rgba(183, 255, 0, 0.38);
}
.table-filter tr td:first-child {
    width: 5%;
}
.table-filter tr td:nth-child(2) {
    width: 25%;
    border-right: 1px solid #eee;
}
.table-filter tr td:nth-child(3) {
    width: 50%;
    border-right: 1px solid #eee;
}
.table-filter tr td:nth-child(4) {
    width: 20%;
    text-align: center;
}

.table-filter .star {
    color: #ccc;
    text-align: center;
    display: block;
}
.table-filter .star.star-checked {
    color: #F0AD4E;
}
.table-filter .star:hover {
    color: #ccc;
}
.table-filter .star.star-checked:hover {
    color: #F0AD4E;
}
.table-filter .media-photo {
    width: 35px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.pagado {
    color: #5cb85c;
}
.table-filter .media .title span.pendiente {
    color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}

#custom-search-input {
    background: #e8e6e7 none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}
#custom-search-input .search-query {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 4px;
    height: 33px;
    margin-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
}
#custom-search-input button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #666666;
    left: auto;
    margin-bottom: 0;
    margin-top: 7px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    z-index: 9999;
}
.search-query:focus + button {
    z-index: 3;
}
.all_conversation button {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    height: 38px;
    text-align: left;
    width: 100%;
}
.all_conversation i {
    background: #e9e7e8 none repeat scroll 0 0;
    border-radius: 100px;
    color: #636363;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.all_conversation .caret {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
}
.all_conversation .dropdown-menu {
    background: #f5f3f3 none repeat scroll 0 0;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
}
.all_conversation ul li {
    border-bottom: 1px solid #dddddd;
    line-height: normal;
    width: 100%;
}
.all_conversation ul li a:hover {
    background: #dddddd none repeat scroll 0 0;
    color:#333;
}
.all_conversation ul li a {
    color: #333;
    line-height: 30px;
    padding: 3px 20px;
}
.member_list .chat-body {
    margin-left: 47px;
    margin-top: 0;
}
.top_nav {
    overflow: visible;
}
.member_list .contact_sec {
    margin-top: 3px;
}
.member_list li {
    padding: 6px;
}
.member_list ul {
    border: 1px solid #dddddd;
}
.chat-img img {
    height: 34px;
    width: 34px;
}
.member_list li {
    border-bottom: 1px solid #dddddd;
    padding: 6px;
}
.member_list li:last-child {
    border-bottom:none;
}
.member_list {
    background: white;
    height: 454px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -1px;
}
.sub_menu_ {
    background: #e8e6e7 none repeat scroll 0 0;
    left: 100%;
    max-width: 233px;
    position: absolute;
    width: 100%;
}
.sub_menu_ {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    margin-left: 0;
    max-width: 233px;
    position: absolute;
    top: 0;
    width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
    display: block;
}
.separate-from-top{
    margin-top: 25px;
}
.new_message_head button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.new_message_head {
    background: #f1f1f1 none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 10px;
    width: 100%;
}
.message_section {
    border: 1px solid #dddddd;
}
.chat_area {
    float: left;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    background: white;
}
#chat_area_noone_selected{
    height: 471px;
}
.chat_area li {
    padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
    height: 40px;
    width: 40px;
}
.chat_area .chat-body1 {
    margin-left: 50px;
}

.chat-body2 p {
    background: #deedfb none repeat scroll 0 0;
    padding: 10px;
}
.chat-body1 p {
    background: #fbebde none repeat scroll 0 0;
    padding: 10px;
    margin-right: 50px;
    word-break: break-all;
}
.my-message p {
    background-color: #a6bddb;
}
.selected-conversation-user {
    background-color: #fbebde;
}
.chat_area .admin_chat .chat-body2 {
    margin-left: 0;
    margin-right: 50px;
}
.chat_area li:last-child {
    padding-bottom: 10px;
}
.message_write {
    background: #f1f1f1 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}

.message_write textarea.form-control {
    height: 70px;
    padding: 10px;
}
.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}
.upload_btn {
    color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
    float: left;
    width:100%;
}
.member_list li:hover {
    background: #428bca none repeat scroll 0 0;
    color: #fff;
    cursor:pointer;
}

.img-circle {
    border-radius: 50%;
}

.chat_area1 {
    float: left;
    width: 100%;
    background: white;
}
.chat_area1 img{

}
.chat_area1 li {
    padding: 14px 14px 0;
}
.chat_area1 li .chat-img1 img {
    height: 40px;
    width: 40px;
}
.chat_area1 .chat-body1 {
    margin-left: 50px;
}
.dropdown-toggle {
    background-color: #f1f1f1;
    padding: 15px 10px 16px 10px;
}
.bt1 {
    border-radius: 0;
    height: 50px;
    border-right: 1px;
    width: 100%;
    margin-left: 0px !important;
}
.bt2 {
    width: 100%;
    border-radius: 0;
    height: 50px;
    border: 1px solid #dddddd;
}
.bt2::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
}




@media (max-width: 575px) {
    .member_list {
        background: white;
        max-height: 120px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #member_list_noone_selected {
        max-height: 285px;
    }
    #chat_area_noone_selected{
        height: 0px;
    }
    .chat_area {
        float: left;
        max-height: 165px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        background: white;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .member_list {
        background: white;
        height: 484px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #chat_area_noone_selected{
        height: 501px;
    }
    .chat_area {
        float: left;
        height: 380px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        background: white;
    }
    .member_list .badge{
        font-size: 11px;
    }
    .member_list strong{
        font-size: 14px;
    }
    .dropdown-toggle {
        font-size: 15px;
        padding: 16px 10px 17px 10px;
    }
    .bt2::-webkit-input-placeholder {
        font-size: 9px;
        line-height: 3;
    }
    .bt1 {
        border-radius: 0;
        height: 50px;
        border-right: 1px;
        width: 50px;
        margin-left: 0px !important;
        padding: 0;
        font-size: 12px;
    }
    .bt2 {
        width: 100%;
        border-radius: 0;
        height: 50px;
        border: 1px solid #dddddd;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .member_list {
        background: white;
        height: 460px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .member_list .badge{
        font-size: 11px;
    }
    .member_list strong{
        font-size: 14px;
    }
    #chat_area_noone_selected{
        height: 501px;
    }
    .chat_area {
        float: left;
        height: 380px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        background: white;
    }
    .dropdown-toggle {
        font-size: 15px;
        padding: 16px 10px 17px 10px;
    }
    .bt2::-webkit-input-placeholder {
        font-size: 9px;
        line-height: 3;
    }
    .bt1 {
        border-radius: 0;
        height: 50px;
        border-right: 1px;
        width: 40px;
        margin-left: 0px !important;
        padding: 0;
        font-size: 11px;
    }
    .bt2 {
        width: 100%;
        border-radius: 0;
        height: 50px;
        border: 1px solid #dddddd;
    }
}

.modal-dialog {
    max-width: 700px;
}

.requests {
    text-align: center;
}

.request {
    background-color: #FBFBFB;
    border-radius: 4px 4px 4px 4px;
    margin: 10px 0px 10px 0px;
    padding: 20px 20px 20px 20px;
}

.lazyloadReq {
  min-height: 300px;
  vertical-align: middle;
}

.validation-error-big {
    font-size: 17px;
    color: #a94442;
}

.no-validation-error-1st {
    margin-top: 24px;
}

.no-validation-error-rest {
    margin-top: 40px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 50px;
}

.request {
    box-shadow: 3px 3px 15px grey;
}

.dropdown-toggle {
    background: none !important;
}

.dropdown-menu {
    cursor: pointer;
    margin-top: 8px;
    background: #ffffff;
    border-radius: 0;
    border-color: #0275d8;
}

@media (max-width: 991px) {
    .dropdown-menu {
        cursor: pointer;
        margin-top: 8px;
        background: #0275d8;
        border-radius: 0;
        border-color: #0275d8;
        text-align: center;
    }

    .dropdown-menu a {
        color: white !important;
    }

    .dropdown-menu a:hover {
        color: #bfdcf0 !important;
        background: #0275d8;
    }

    .navbar-toggleable-md {
        margin-top: 35px;
    }

}

.pointer {
    cursor: pointer !important;
}
.dropdown-toggle1 {
   background: #f1f1f1 !important;
   padding: 15px 10px 16px 10px;
}


