body
{
    background-image: url(http://www.travelingjobsnow.com/assets/img/slider1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body.modal-open {
    overflow: auto !important;
}

/** Vyhled�vac� li�ta**/
.SearchIcon
{
    color:#fff;
}
.SearchButton
{
    background-color:#0275d8;
    border-radius:10px;
}
.SearchButton:hover{
    background-color: #50a1ee;
}
.SearchBorder{
    border-color: #0275d8;
}
.SearchHeight{
    height: 62px;
}
/** Vertik�ln� odsazen�**/
.v-o-15{
    margin-top: 15%;
}
.v-o-25{
    margin-top: 25px;
}
.v-p-25{
    padding-top: 25px;
}
.v-o-5{
    margin-top: 5%;
}
.m-r-30{
    margin-right: 30px;
}
.m-r-15{
    margin-right: 15px;
}

.profil_img{
    width: 80px;
    height: 80px;
}
.profil_o-30{
    margin-left: 30px;
}

.profil_vypis{
  color: #2b2d2f;
}
.profil_vypis:hover{
    text-decoration: none;
}
.profil_vypis:hover div{
    background-color: #faf6f6;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.fullsize{
    width: 100%;
}

.navbar-dark .navbar-toggler {
    color: white;
    border: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-toggleable-md {
    margin-right: 10px;
}

.validation-error {
    font-size: 10px;
    color: #a94442;
}

.no-margin {
    margin: 0;
}